<main class="max-w-[1400px] mx-auto px-4">
  <app-hero></app-hero>

  <div class="max-w-[1400px] mx-auto px-4 py-4 md:py-6 lg:py-8">

    <div class="grid grid-cols-1 lg:grid-cols-12 gap-6 md:gap-8">

      <div class="hidden lg:block lg:col-span-3">
        <app-sidebar-left></app-sidebar-left>
      </div>

      <div class="lg:col-span-6">
        <app-main-content></app-main-content>
      </div>

      <div class="lg:col-span-3">
        <app-sidebar-right></app-sidebar-right>
      </div>

    </div>

  </div>
</main>
