<main class="max-w-[1400px] mx-auto px-4 py-6 md:py-8">

  <div class="grid grid-cols-1 lg:grid-cols-12 gap-y-8 lg:gap-0 border-b border-gray-200 dark:border-gray-800 pb-8 md:pb-12 mb-8 md:mb-12">

    <aside class="hidden lg:block lg:col-span-3 lg:border-r border-gray-200 dark:border-gray-800 lg:pr-6 xl:pr-8">
      <app-sidebar-left></app-sidebar-left>
    </aside>

    <div class="lg:col-span-9 lg:pl-6 xl:pl-8 grid grid-cols-1 lg:grid-cols-3 gap-6 md:gap-8 relative">

      <app-hero class="contents"></app-hero>

      <aside class="order-last lg:order-none lg:col-start-3 lg:col-span-1 lg:row-span-2 lg:border-l border-gray-200 dark:border-gray-800 lg:pl-6 xl:pl-8">
        <app-sidebar-right></app-sidebar-right>
      </aside>

      <app-main-content class="contents"></app-main-content>

    </div>
  </div>

  <div class="pb-8 md:pb-12">
    <app-man-law></app-man-law>
  </div>

  <div class="pb-8">
    <app-bottom-content></app-bottom-content>
  </div>

</main>
