/* Імпортуємо ядро Tailwind v4 */
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/* фірмова тема */
@theme {
  --color-up-green: #1C8B39;
  --color-up-dark: #19222E;
  --color-up-light: #F5F5F5;
  --color-up-accent: #D9822B;
}
